* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(200, 233, 200);
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 60vh;
  margin: 20vh auto;
  border: 2px solid #000;
  background-color: rgb(214, 245, 233);
}

h2 {
  text-align: center;
  margin: 2rem 0;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30vw;
  margin: auto;
}

input {
  width: 20vw;
  margin: 0 0 2rem;
}

label {
  margin: 0 0 2rem;
}

.errorMsg {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

input[type="submit"] {
  width: 8vw;
  padding: 0.4rem;
  margin: auto;
  background-color: #053302;
  color: #fff;
}
