form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 60vh;
  margin: 20vh auto;
  border: 2px solid #000;
  background-color: rgb(145, 221, 194);
}

h2 {
  text-align: center;
  margin: 4rem 0;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30vw;
  margin: auto;
}

input {
  width: 20vw;
  margin: 0 0 2rem;
}

label {
  margin: 0 0 2rem;
}

.errorMsg {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

input[type="submit"] {
  width: 8vw;
  padding: 0.4rem;
  margin: auto;
  background-color: #000;
  color: #fff;
}
